language: java
env:
  global:
  - GH_REF: github.com/waic/wcag20.git
  - secure: N5oIYQKfKWTLwsdrVkaBlFVzQS7b1yS38Q65+nBbasu0jHxBe1235/nPSQNrqgxu1CN3GAjJ4mQeDJ6lgMrCcy8T8dVO7LVSxdXLZnNCUlVXaj7kvXYA/hVnK37P3Ujn92Af+loF3RVtqridCary+bG0MnlxsF2S/OBh+ziqpw8=
install:
- curl -L http://sourceforge.net/projects/saxon/files/Saxon-HE/9.5/SaxonHE9-5-1-4J.zip/download
  > SaxonHE9.zip
- unzip SaxonHE9.zip
git:
  depth: 3
branches:
  only: wg4_translation
before_script:
- git config --global user.email "bakera@star.email.ne.jp"
- git config --global user.name "MINAZUKI, Bakera"
script:
- ant -f wcag20/build.xml -lib saxon9he.jar gh-pages
after_success:
- cd ../..
- mkdir gh-pages
- cd gh-pages
- git clone --depth=1 --branch=gh-pages https://${GH_REF}
- cd wcag20
- cp -r ../../Generated/* .
- grep -l 'SYSTEM "about:legacy-compat' ./Techniques/* | xargs sed -i -e 's/SYSTEM \"about:legacy-compat\"//g'
- grep -l 'SYSTEM "about:legacy-compat' ./Understanding/* | xargs sed -i -e 's/SYSTEM \"about:legacy-compat\"//g'
- grep -l '<div class=\"front\"/>'  ./Techniques/* | xargs sed -i -e 's/<div class="front"\/><div class="body"\/>//g'
- grep -l '<div class=\"front\"/>'  ./Understanding/* | xargs sed -i -e 's/<div class="front"\/><div class="body"\/>//g'
- git add .
- git commit -m "Generated by TRAVIS-CI"
- git push "https://${GH_TOKEN}@${GH_REF}" gh-pages > /dev/null 2>&1
